.barchart {
  font: 10px sans-serif;
  /*background-color: steelblue;*/
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.barchart text.label  {
	fill: white;
}

.barchart rect  {
	fill: steelblue;
	border-width: 3px;
	border-style: solid;
	border-color: #ffffff;
}

.histogram {
	display: block;
}

.histogram h2 {
	color: #525555;
	text-align: left;
}

path.domain{
	fill:none;
	stroke: black;
	stroke-width: 1;
}

#roamHist {
	float: left;
}

#header li{
	display:inline;
	list-style-type:none;
	padding-right:20px;
}

#header {
	background-color: #EB7E01;
	height: 30px;
	}
	
#header li#logo {
	padding-right:10px;
	height:56px;
	/*background: url('logo.gif');*/
	}

#sidebar {
	float:right; 
	padding-right:50px; 
	background-color: #DDDDDD;
	}
	
.level1 {
	background-color: #D73027;
	}
	/*0xF46D43; 0xFDAE61; 0xFEE08B; 0xD9EF8B; 0xA6D96A; 0x66BD63; 0x1A9850; */
	
	
/*jquery styles*/
body{
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;
}
.demoHeaders {
	margin-top: 2em;
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}