.barchart {
  font: 10px sans-serif;
  /*background-color: steelblue;*/
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.barchart rect  {
	stroke: white;
	fill: steelblue;
	border-width: 3px;
	border-style: solid;
	border-color: #ffffff;
}

#header li{
	display:inline;
	list-style-type:none;
	padding-right:20px;
}

#header {
	background-color: #EB7E01;
	height: 30px;
	}
	
#header a#logo {
	width: 200px;
	height:56px;
	background: url('logo.gif');
	}

#sidebar {
	float:right; 
	padding-right:50px; 
	background-color: #DDDDDD;
	}